:root{
  --background-color: #8ba6bc;
  --header-color: #f5af09;
  --header-color: #69302c;
  --body-color: #69302c;
}

body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:100px;
  background-color: var(--background-color);
}

h1, h3{
  text-align: center;
}