
body{
	background-color:lightblue;
	color:navy;
}

.name{
	text-align:center;
}

.right{
    float:right;
    margin-right:50px;
}

.left{
    float:left;
    margin-left:50px;
}

.pic{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.right{
    float:right;
}

.left{
    float:left;
}
.link{
	font-weight:bold;
	color:maroon;
}
.text{
	margin-left:50px;
}